<ion-content>
  <ion-menu type="overlay" contentId="main-content" class="custom-menu" color="warning">
    <ion-header>
      <ion-toolbar>
        <ion-title color="#042E54;" style="background-color:#F1B215; font-size: x-large;">Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"><a style="font-size: larger;"(click)="['/ingresar-asistencia']"><ion-icon name="duplicate-outline" style="vertical-align: middle;"></ion-icon>Ingresar Asistencia</a></ion-content>
    <ion-content class="ion-padding"><a style="font-size: larger;"(click)="['/modificar-asistencia']"><ion-icon name="create-outline" style="vertical-align: middle;"></ion-icon>Modificar Asistencia</a></ion-content>
    <ion-content class="ion-padding"><a style="font-size: larger;" (click)="cerrarSesion()"><ion-icon name="log-out-outline" style="width: 30%; vertical-align: middle;"></ion-icon>Salir</a> </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="warning" style="--ion-toolbar-height: 80px !important; padding-top: 5%; padding-bottom: 5%;"> <!-- Ajusta la altura aquí -->
        <ion-buttons slot="start" class="custom-toolbar">
          <ion-menu-button class="custom-toolbar"></ion-menu-button>
        </ion-buttons>
        <ion-title class="custom-toolbar" style="font-size: large;">RegistrAPP</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <img src="/assets/img/2560px-Logo_DuocUC.svg.png" alt="logoduoc" style="width: fit-content;" >
      <div id="container">
        <ion-card>
          <ion-card-title>{{ user }},<br></ion-card-title>
          <ion-card-subtitle><br>¡Bienvenid&#64; al Sistema de Registro de Asistencia de RegistrApp!</ion-card-subtitle>
          <ion-card-content>
            <p>Aquí puedes llevar un registro de asistencia de forma fácil y eficiente.</p>
            <p>Comienza seleccionando una opción en el menú lateral.</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  </div>
</ion-content>
